<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= title %></title>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>
  <link type="text/css" rel="stylesheet" href="https://studio.code.org/assets/application-cb7cf52878e35c823a22ad7e2f5eb7b5.css" />
  <link type="text/css" rel="stylesheet" href="https://studio.code.org/assets/css/common-0383515aa4e3c005f158dc19d7e0fe00.css" />
  <link type="text/css" rel="stylesheet" href="https://studio.code.org/assets/css/applab-03d5502355cd069ec89f7695dc5571bd.css" />
  <link type="text/css" rel="stylesheet" href="https://studio.code.org/assets/css/droplet/droplet.min-6d7ff8915afec8b248abd050c0eb899e.css" />
  <link type="text/css" rel="stylesheet" href="https://studio.code.org/assets/css/tooltipster/tooltipster.min-27000df889cf682978fb574ac601d391.css" />
</head>
<body>
  <div id="app"></div>
  <script src="js/app.<%= version %>.js"></script>
</body>
</html>
